
-- Update shop names and descriptions to match the dropdown menu
UPDATE shop_config SET name = 'Apothecary', description = 'Purchase berries and healing items for your monsters.' WHERE shop_id = 'berry_shop';
UPDATE shop_config SET name = 'Bakery', description = 'Purchase delicious pastries for your monsters.' WHERE shop_id = 'pastry_shop';
UPDATE shop_config SET name = 'Witch''s Hut', description = 'Purchase evolution items and learn new abilities.' WHERE shop_id = 'evolution_shop';
UPDATE shop_config SET name = 'Mega Mart', description = 'Purchase Poké Balls and other catching items.' WHERE shop_id = 'ball_shop';
UPDATE shop_config SET name = 'Antique Store', description = 'Purchase rare antiques and collectibles.' WHERE shop_id = 'antique_shop';
UPDATE shop_config SET name = 'Nursery', description = 'Purchase egg items and accessories.' WHERE shop_id = 'egg_shop';
UPDATE shop_config SET name = 'Pirate''s Dock', description = 'Purchase black market items at a markup.' WHERE shop_id = 'black_market_shop';

