/* ---------- Types ---------- */
.normal, .type-normal { 
    background-color: var(--normal-type); 
}
.fire, .type-fire { 
    background-color: var(--fire-type); 
}
.water, .type-water { 
    background-color: var(--water-type); 
}
.electric, .type-electric { 
    background-color: var(--electric-type); 
}
.grass, .type-grass { 
    background-color: var(--grass-type); 
}
.ice, .type-ice { 
    background-color: var(--ice-type); 
}
.fighting, .type-fighting { 
    background-color: var(--fighting-type); 
}
.poison, .type-poison { 
    background-color: var(--poison-type); 
}
.ground, .type-ground { 
    background-color: var(--ground-type); 
}
.flying, .type-flying { 
    background-color: var(--flying-type); 
}
.psychic, .type-psychic { 
    background-color: var(--psychic-type); 
}
.bug, .type-bug { 
    background-color: var(--bug-type); 
}
.rock, .type-rock { 
    background-color: var(--rock-type); 
}
.ghost, .type-ghost { 
    background-color: var(--ghost-type); 
}
.dragon, .type-dragon { 
    background-color: var(--dragon-type); 
}
.dark, .type-dark { 
    background-color: var(--dark-type); 
}
.steel, .type-steel { 
    background-color: var(--steel-type); 
}
.fairy, .type-fairy { 
    background-color: var(--fairy-type); 
}

/* ---------- Custom Types ---------- */
.type-custom { 
    background-color: var(--custom-type); 
}
.type-random { 
    background: var(--random-type); 
}
.type-light { 
    background-color: var(--light-type); 
}
.type-cosmic { 
    background-color: var(--cosmic-type); 
}

.type-mystery,
.type-\?\?\? {
  background: var(--random-type);
  animation: mystery-shimmer 2s ease-in-out infinite;
}

/* ---------- Attributes ---------- */
.attribute-virus { 
    background: var(--virus-attribute);
}
.attribute-vaccine { 
    background: var(--vaccine-attribute);
}
.attribute-data { 
    background: var(--data-attribute);
}
.attribute-free { 
    background: var(--free-attribute);
}
.attribute-variable { 
    background: var(--variable-attribute);
}