<div class="modern-input-with-icon">
  <i class="fas fa-search input-icon"></i>
  <input
    type="text"
    id="monster-search"
    placeholder="Search monsters..."
    class="modern-input w-full"
  >
</div>