



.pagination-button:hover:not(:disabled) {
  background-color: #f8f9fa;
  border-color: #c4c4c4;
}

.pagination-button.active {
  background-color: #d6a339;
  border-color: #d6a339;
  color: #fff;
}

.pagination-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination-ellipsis {
  min-width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6c757d;
}

